{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2>Вход</h2>
{% if user.is_authenticated %}
<p>Вы уже выполнили вход.</p>
{% else %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    <input type="hidden" name="next" value="all-tasks">
    {% buttons submit="Войти" %}{% endbuttons %}
    <a class="nav-link" href="{% url 'todolist:password_reset' %}">Забыли пароль?<span class="sr-only">(current)</span></a>
</form>
{% endif %}
{% endblock %}